<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand><a class="navbar-brand white-text" routerLink="/">Training App</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/" >Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/questions">Questions</a>
      </li>

      <!-- Links for mobile -->
      <li *ngIf="!authService.isLoggedIn()" class="nav-item">
        <a class="nav-link waves-light white-text d-lg-none" mdbWavesEffect routerLink="/sign-in">
          Sign in
        </a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" class="nav-item">
        <a class="nav-link waves-light white-text d-lg-none" mdbWavesEffect routerLink="/sign-up">
          Sing Up
        </a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item">
        <a *ngIf="authService.isLoggedIn()" class="nav-link waves-light white-text d-lg-none" mdbWavesEffect>
          <button mdbBtn color="white" outline="true" size="sm" type="button" mdbWavesEffect
                  (click)="authService.logout()">
            Logout
          </button>
        </a>
      </li>

    </ul>

    <!-- Links for desktop -->
    <a *ngIf="!authService.isLoggedIn()" class="nav-link waves-light white-text d-none d-lg-block" mdbWavesEffect
       routerLink="/sign-in">Sign in</a>
    <a *ngIf="!authService.isLoggedIn()" class="nav-link waves-light white-text d-none d-lg-block" mdbWavesEffect
       routerLink="/sign-up">
      <button mdbBtn color="white" outline="true" size="sm" type="button" mdbWavesEffect>
        Sign up
      </button>
    </a>
    <a *ngIf="authService.isLoggedIn()" class="nav-link waves-light white-text d-none d-lg-block" mdbWavesEffect>
      <button mdbBtn color="white" outline="true" size="sm" type="button" mdbWavesEffect (click)="authService.logout()">
        Logout
      </button>
    </a>
  </links>
</mdb-navbar>
