<div *ngIf="errorMessage" #alert class="alert alert-danger alert-dismissible fade show" role="alert">
  <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Error!</strong> {{ errorMessage }}
</div>

<form class="border border-light p-5" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

  <p class="h4 text-center mb-4">Sign Up</p>

  <div class="md-form">
    <mdb-icon fas icon="user-alt" class="prefix"></mdb-icon>
    <input mdbInput mdbValidate email type="email" id="email" class="form-control" formControlName="email">
    <label for="email">Email</label>
    <mdb-error *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)">Email invalid</mdb-error>
    <mdb-success *ngIf="inputEmail.valid && (inputEmail.dirty || inputEmail.touched)"></mdb-success>
  </div>

  <div class="md-form">
    <mdb-icon fas icon="key" class="prefix"></mdb-icon>
    <input mdbInput mdbValidate type="password" id="password" class="form-control" formControlName="password">
    <label for="password">Password</label>
    <mdb-error *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)">
      Secure passwords are more than eight characters in length, and include mixed upper and lowercase letters and at least one numeric digit.
    </mdb-error>
    <mdb-success *ngIf="inputPassword.valid && (inputPassword.dirty || inputPassword.touched)"></mdb-success>
  </div>

  <!-- Send button -->
  <button mdbBtn color="info"
          outline="true" block="true"
          class="z-depth-0 my-4 waves-effect"
          mdbWavesEffect
          type="submit"
          [disabled]="!signUpForm.valid">
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" [hidden]="!isLoading"></span>
    Send
  </button>

</form>
<!-- Default form register -->
